[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
bs4 = "*"

[packages]
django = "*"
requests = "*"
pillow = "*"
django-seed = "*"
pyjwt = "*"
django-dotenv = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
