{% extends 'base.html' %}
{% block title %}
Search
{% endblock title %}
{% block content %}
    <div class="mt-15 w-full h-24 flex justify-center items-center">
        <form class="flex" method="GET" action="{% url 'products:search' %}">
            <input class="mr-5 w-64 px-4 text-black rounded-md active:border-none outline-none text-lg" type="text" name="word">
            <button class="border border-white p-2 rounded-lg" type="submit" class="text-white"><i class="text-white fas fa-search"></i></button>
        </form>
    </div>
    <div class="grid grid-cols-3 gap-10 mt-10 mx-16">
    {% for p in product_search %}
        <a href="{% url 'products:detail' p.pk %}">
            <div class="h-40 border border-gray-600 rounded-lg flex flex-col">
                <div class="flex justify-center items-center">
                    <span class="text-gray-300 font-semibold text-lg">{{p.name}}</span>
                </div>
                <div class="flex">
                    <div class="flex w-32 h-full items-center"></div>
                    <div class="text-white">{{p.price}}원</div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>

{% endblock content %}